@import "media-queries";
@import "keyframes";

.bServicios, .bServicios .navbar .navbar-nav {
    background: $servicios-bg;
}

.cServicios {

    h1 {
        @include titulo;
        color: white;
        -webkit-animation:entradaArriba .5s cubic-bezier(.175,.885,.32,1.275) .7s both;
        animation:entradaArriba .5s cubic-bezier(.175,.885,.32,1.275) .7s both;
    }
    
    .card {
        border: 0;
        border-radius: 0;
        background-color: $servicios-color;
        background-image: url(/img/fondoClaro.png);
        color: $servicios-bg;
        text-align: center;
        min-height: 95%;
        transition: transform .2s;
        border-radius: 3px;
        overflow: hidden;

        &:hover {
            transform: scale(1.05);
        }

        img {
            border-radius: 0;
        }

        &-body {
            padding: 3rem;

            .btn {
                border: 0;
                border-radius: 0;
                background: $servicios-bg;
                color: white;
                font-size: 1.4rem;
                font-family: $fontPoppins;
                padding: 1rem 2rem;
                font-weight: 600;

                &:hover {
                    background: transparent;
                    color: $servicios-bg;
                }
            }
        }

        &-title {
            font-family: $fontPoppins;
            font-size: 2.4rem;
            font-weight: 600;
        }

        &-text {
            font-size: 1.6rem;
        }
    }

    .rowCards > div {
        -webkit-animation:entradaArriba .5s cubic-bezier(.175,.885,.32,1.275) both;
        animation:entradaArriba .5s cubic-bezier(.175,.885,.32,1.275) both;
        
        @for $card from 1 through 3 {
            &:nth-child(#{$card}) {
                animation-delay: .8s + .1s * $card;
            }
        }
    }
    
}